@typeparam TDraggableItem

<div class="my-component">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public List<TDraggableItem> Items { get; set; } = new List<TDraggableItem>();
    [Parameter] public EventCallback<TDraggableItem> OnStatusUpdated { get; set; }

    public TDraggableItem? DraggedItem { get; set; }


}